.main-page-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.rhs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.lhs-container{
    display: flex;
    flex-direction: column;
    width: 60em;
    align-items: center;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.text-and-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: rgb(111, 111, 111);
    font-size: 6em;
    margin: 0;
    padding: 0;
}

.secondary-text {
    font-size: 3em;
    margin: .2em;
    padding: 0;
}

.dog-icon{
    width: 6em;
    height: 6em;
    margin-right: 0.5em;
    padding: 0;
    filter: invert(20%);
}

.cat-icon{
    width: 6em;
    height: 6em;
    margin-left: 0.5em;
    padding: 0;
    filter: invert(20%);
}

.cat-and-dog{
    width: 35em;
    height: 16.5em;
    margin-top: 10em;
}

.eye-icon{
  width: 1em;
  height: 0.7em;
  margin-right: 0.3em;
}